body {
    background-color: #f0f0f0; 
    color: #333; 
    font-family: Arial, sans-serif; 
    margin: 0; 
}

h1 {
    font-family: 'Georgia', serif; 
}

.header-container {
    background-color: #007bff; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

.header-container p {
    margin-top: 0;
    font-size: 1.1em;
}

.navbar {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: #333; 
    overflow: hidden;
    
    position: sticky; 
    
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
}

.navbar li {
    float: left; 
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #555;
}

.dropdown {
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
  
    display: none;
  
    position: absolute;
    background-color: #3f4e5a; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    left: 0;
    z-index: 1000;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #555;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #3f4e5a;
}

.content {
    padding: 20px;
}

.email {
    color: #007bff; 
    font-weight: bold;
}

@media all {
    
}


@media print {
    
    .navbar,
    .header-container {
        display: none;
    }
    
   
    body {
        color: black !important;
        background-color: white !important;
    }

   
    .email {
        color: #000;
        text-decoration: underline;
    }
    
    .dropdown-content {
        box-shadow: none;
    }
}





















